<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form action="{{ url_for('login') }}" method="POST">
        <br>
        نام کاربری:
        <input type="text" name="username" required>
        <br>
        رمز عبور:
        <input type="password" name="password" required>
        <br>
        <button type="submit">ورود</button>
    </form>

    <a href="{{ uel_for('register') }}">ثبت نام</a>

    {% if error %}
        {{ error }}
    {% endif %}

</body>
</html>